API_BASE_URL=http://localhost:3000/api

DATABASE_URL=postgresql://user:password@localhost:5432/mydatabase
JWT_SECRET=your_jwt_secret_key

NOTIFS_API_URL=https://notifs-api.lootopia.io
NOTIFS_API_KEY=your_notifs_api_key